<div class="row align-content-center justify-content-center">
    <h1 class="text-muted">Movie Search</h1>
</div>
<div class="row align-content-center justify-content-center">
    <div class="col-6">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Movie Title" id="search-field">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" id="search-button">Search</button>
            </div>
        </div>
    </div>
</div>
<div id='search-results'></div>

<div class="row  align-items-center justify-content-center">
    <div class="btn-group" role="group" aria-label="order by">
        <button type="button" class="btn btn-secondary" id="first-button">First</button>
        <button type="button" class="btn btn-secondary" id="previous-button">Previous</button>
        <button type="button" class="btn btn-secondary" id="current-page">1</button>
        <button type="button" class="btn btn-secondary" id="next-button">Next</button>
        <button type="button" class="btn btn-secondary" id="last-button">Last</button>
    </div>
</div>