 <div class="row">
    <div class="col-4">
        <% (1..5).each do |i| %>
            <% if review.rating >= i %>
                <%= image_tag "star-filled.png", size: '20x20', class: "m-0 p-0 mb-3" %>
            <% else %>
                <%= image_tag "star-empty.png", size: '20x20', class: "m-0 p-0 mb-3" %>
            <% end %>
        <% end %>
    </div>
    <div class="col">
        <p class="card-text mb-3">
            <% if review.comment != '' and review.comment != nil %>
                "<%= review.comment %>" -
            <% end %>
            <%= review.email %>
        </p>
    </div>
</div>