<div class="row align-content-center justify-content-center">
    <h1 class="text-muted">About</h1>
</div>

<p>
    This website was written using Ruby on Rails. <br />
    It uses an API provided by The Movie Database to list movies. <br />
    It uses PostgreSQL as its backing database. <br />
</p>